body {
    font-family: 'Open sans', sans-serif;
    background: #FFFFFF;
}

/* main styles */

.main {
    display: flex;
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;

}

.main-content {
    background: #FFFFFF;
    box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
    padding: 60px 90px 105px 90px;
}

/* about styles */

.about {
    margin-bottom: 40px;
}

.about-position {
    font-style: 400;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 20px;

}

.about-name {
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 25px;
}

.about-description {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    width: 650px;
    height: ;
}

/* projects styles */

.projects {
    margin-bottom: 50px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}

.titles {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.project-item {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}


.projects-list {
    padding: 0%;
    margin-left: 15px;
}
.project {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.project-linc {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    margin-left: 10px;
}

.project-bracked {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
/* margin: 100px 90px 300px 60px;

margin: 50;

margin: 100px 50px; */

/* work styles */

.work {
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.title {
    margin-top: 10px;

}

.work-position {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;   
    color: #000000;
    margin-bottom: 10px;

}

.organization {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color: #FB6D3A;
}

.period {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #A8A8A8;
    margin-bottom: 10px;
}

.line {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}

.work-list {
    padding: 0%;
    margin-left: 15px;

}

.work-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
/* education style */

.education {
    margin-top: 45px;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
}
.specialization {
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
margin-top: 10px;
}

/* sidebar style */

.sidebar {
    background-color: #0a3d1a;
    padding-top: 40px;
    width: 500px;
}

.photo {
    width: 370px;
    margin-bottom: 50px;
}

/* sidebar-title style  */

.sidebar-title {
   color: #FFFFFF;
   font-style: normal;
   font-weight: 700;
   font-size: 22px;
   line-height: 27px;
   margin-bottom: 10px;
}

.contacts, .tech-skills, .soft-skills {
    margin-left: 40px;
}
.contacts {
    margin-bottom: 50px;
}
.linkedin {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}
.contact-type {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    margin-right: 10px;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
    opacity: 0.5;
}
.tech-skills {
    margin-bottom: 45px;
}
.tech-skills-list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 20px;
}

.tech-skills-item {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.tech-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.soft-skills-list {
    color: #FFFFFF;
    padding: 0%;
    margin-left: 20px;
}
.soft-skills-item { 
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: #FB6D3A;
}

.soft-skills-text {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}